---
layout: default
title: Published Advisories
---
<!-- [ basic-table ] start -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline-block;">PUBLISHED ADVISORIES</h3>
            <select id="select-year" style="margin-left: 20px;">
                <option value="--"> -- </option>
                {% for year in site.data.advisories.years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <div class="float-right">
                <button type="button" class="btn btn-square btn-dark active">PUBLISHED</button>
                <a href="/upcoming" class="btn btn-square btn-dark" role="button">UPCOMING</a>
            </div>
            <span class="d-block m-t-5">The following is a list of all publicly disclosed vulnerabilities discovered by Viettel Cyber Security researchers. All security vulnerabilities are handled according to the <a href"#">VCS Disclosure Policy</a>. </span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>VCSA ID</th>
                            <th>AFFECTED VENDOR</th>
                            <th>SEVERITY</th>
                            <th>AUTHOR</th>
                            <th>PUBLISHED</th>
                        </tr>
                    </thead>
                    <tbody id="advisories">
                        {% for vcsa in site.data.advisories.published %}
                        <tr class="table-row-click" data-href="/advisories/{{ vcsa.vcsaid }}" data-year="{{ vcsa.year }}" data-toggle="tooltip" data-placement="bottom" title="{{ vcsa.title }}">
                            <td>{{ vcsa.vcsaid }}</td>
                            <td>{{ vcsa.vendor }}</td>
                            <td>{{ vcsa.score }}</td>
                            <td>{{ vcsa.credit }}</td>
                            <td>{{ vcsa.duedate }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- [ basic-table ] end -->
<script>
    $(document).ready(function(){
      $("#select-year").on("change", function() {
        var value = $(this).val().toLowerCase();
        if (value=="--") {
            $("#advisories tr").filter(function() {
                $(this).toggle(true)
            });
        }
        else{
            $("#advisories tr").filter(function() {
                $(this).toggle($(this).attr("data-year") == value)
            });
        }
      });
    });

    $(document).ready(function($) {
    $(".table-row-click").click(function() {
        window.document.location = $(this).data("href");
        });
    });
</script>