---
layout: default
title: Badges
---
<!-- [ basic-table ] start -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline-block;">BADGES</h3>
            <span class="d-block m-t-5">The following is a list of achievements awarded to Viettel Cyber Security
                researchers.</span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive badges-div">
                <table class="badges-table">
                    <tbody>
                        {% for badge in site.posts %}
                        {% if badge.categories contains "badges" | downcase %}
                        <tr>
                            <td class="badge-date">
                                <div class="text-center">
                                    <span>{{badge.date| date: '%B %d'}}</span>
                                    <h6>{{badge.date| date: '%Y'}}</h6>
                                </div>
                            </td>
                            <td class="name">
                                <a href="{{badge.url}}" class="badge-name">{{badge.title}}</a>
                                <i class="fas fa-user-ninja"></i>
                                <span class="username">
                                    {% for author in badge.authors %}
                                        {{ author }}, 
                                    {% endfor %}
                                </span>
                            </td>
                            <td class="badges tooltips-enabled">
                                <ul class="user-badges">
                                    {% for tag in badge.tags %}
                                    <li class="user-badge user-badge-A3 user-badge-rank-5 user-badge-for-home">
                                        <a href="#">
                                            <img src="/assets/images/icons/{{tag|downcase}}.png"
                                                alt="{{tag}}">
                                            <span class="user-badge-title">{{tag}}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- [ basic-table ] end -->
<script>
    
</script>