--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;700&display=swap");
@import 'bootstrap/bootstrap';
@import "custom/variables";

/**
 * Reset some basic elements
 */
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,
figure {
  margin: 0;
  padding: 0;
}

/**
  * Basic styling
  */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern"1;
  -moz-font-feature-settings: "kern"1;
  -o-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
  * `main` element
  */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
  * Images
  */
img {
  max-width: 100%;
  vertical-align: middle;
}

.site-header {
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.nav-header {
  background-color: #2b2c3b;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

/**
 * Site footer
 */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  margin-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li+li {
    padding-top: 5px;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper-header {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2) + 20px);
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(10% - (#{$spacing-unit} / 2));
  width: calc(10% - (#{$spacing-unit} / 2));
  padding-top: 5px;
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
  padding-top: 10px;
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.advisories-details table {
  width: 100%;
}

.advisories-details table td:first-child {
  width: 220px;
  font-weight: bold;
}

.advisories-details table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.advisories-details a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.advisories-details a:hover {
  color: #828282;
  text-decoration: underline;
}

.badges-div {
  padding: 0.75rem 1.25rem;
}

.badges-table {
  font-size: 19px;
  line-height: 1.1;
  width: 100%;
  margin-bottom: 12px;
}

.badge-date {
  width: 100px;
}

.badge-date div {
  border-radius: 10px;
  border: 2px solid #828282;
  padding-top: 12px;
}

.badge-date span {
  font-size: 12px;
}

.badges-table .name {
  position: relative;
}

.badges-table .name:after {
  display: block;
  content: '';
  height: 2px;
  margin-top: -7px;
  margin-bottom: 7px;
  background-image: -moz-linear-gradient(90deg, #191919 25%, #191919 75%, #ddd 75%);
  background-image: linear-gradient(90deg, #191919 25%, #191919 75%, #555 75%);
  background-size: 6px 2px;
  z-index: 1;
}

.badges-table td {
  padding: 5px 10px 10px;
}

.badges-table .badge-name {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

.badges-table .username {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding-right: 10px;
  background: #1f2133;
  padding-left: 5px;
}

.user-badges {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.badges-table .badges {
  text-align: right;
}

.badges-table .badges .user-badges li {
    margin-left: 10px;
    margin-right: 0;
}

.user-badges li {
    display: inline;
    margin-right: 10px;
}
.user-badge {
    font-size: 12px;
    color: #bbb;
}

.user-badges img {
  height: 50px;
  vertical-align: center;
}

.user-badge-for-home .user-badge-title {
  display: none;
}

.badge-details {
  padding: 20px;
  font-size: large;
  text-align: justify;
}

.badge-details a {
  color: #828282;
  text-decoration: none;
  background-color: transparent;
}

.badge-details img {
  max-height: 700px;
  display: block;
  margin: auto;
}