---
layout: default
---
<div class="col-xl-12">
  <div class="card">
      <div class="card-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          {%- if page.version -%}
            <br/>• <span>Version: {{ page.version }}</span></span>
          {%- endif -%}
          {%- if page.update -%}
            <br/>• <span>Update: {{ page.update }}</span></span>
          {%- endif -%}
        </p>
      </div>
      <div class="card-block table-border-style">
          <div class="table-responsive badge-details">
            {{ content }}
          </div>
      </div>
  </div>
</div>
